<!--  
 <html>
<head>
 <link rel="stylesheet" href="css/dashboard_new.css">
  <script src="js/switchTabs.js"></script>
</head>


 
 
 <body  > -->
<div ng-init="init(event, 'Business Rules Search')" id="Business Rules Search" class="tabcontent" >
           <table>
           <tr> <td>
            <select id="rulesSelector" ng-init="rulesSelector = rulesSelector||rules[0]" ng-model="rulesSelector" ng-change="triggerRulesNext(rulesSelector)"  
              ng-options="rule.coreValue as rule.displayValue  for rule in rules"   style="width: 160px;margin: 10px;">
              <option value="">Select</option>
      </select>
      </td></tr>
           </table>
           
           
             <table>
           <tr> <td>
            <select id="environmentSelector"   ng-model="environmentSelector" ng-change="triggerEnvNext(environmentSelector)"  
            ng-options="environment.coreValue as environment.displayValue  for environment in environments" style="width: 160px;margin: 10px;">
             <option value="">Environment</option> 

      </select>
        </td></tr>
           </table>
      
          <table>
           <tr> <td>
          <select id="companySelector" ng-model="companySelector" ng-change="triggerCompNext(companySelector)" style="width: 160px;margin: 10px;"
          ng-options="company.coreValue as company.displayValue  for company in companys" ng-disabled="enablecompanySelector" >
      <option  value="" >Company</option>
      </select>
       </td></tr>
           </table>
           
             <table>
           <tr> <td>
          <select id="productSelector" ng-model="productSelector" ng-change="triggerProdNext(productSelector)" 
             ng-options="product.coreValue as product.displayValue  for product in products"  ng-disabled="enableproductSelector"  style="width: 160px;margin: 10px;">
      <option  value="" >Product</option>
   
      </select>
       </td></tr>
           </table>
           
           
             <table>
           <tr> <td>
          <select id="planCodeSelector" ng-model="planCodeSelector" ng-change="triggerPlanCodeNext(planCodeSelector)"  
              ng-options="planCode.coreValue as planCode.displayValue  for planCode in planCodes" ng-disabled="enableplanCodeSelector"   style="width: 160px;margin: 10px;">
      <option value="" >PlanCode</option>
      </select>
      </td></tr>
           </table>
           
             <table>
           <tr> <td>
          <select id="issueStateSelector" ng-model="issueStateSelector" ng-change="triggerStateNext(issueStateSelector)"  
              ng-options="issueState.coreValue as issueState.displayValue  for issueState in issueStates" ng-disabled="enableissueStateSelector"  style="width: 160px;margin: 10px;">
      <option value="" >Issue State</option>
      </select>
      </td></tr>
           </table>
      
             <table>
           <tr> <td>
             <select id="lineOfBusinessSelector" ng-model="lineOfBusinessSelector" ng-change="triggerlobNext(lineOfBusinessSelector)"  
               ng-options="lob.coreValue as lob.displayValue for lob in lobs" ng-disabled="enablelineOfBusinessSelector"   style="width: 160px;margin: 10px;">
      <option  value="" >LineOfBusiness</option>
      </select>
         </td></tr>
           </table>
           
                 <table>
           <tr> <td>
         <select id="planeffectivedateSelector" ng-model="planeffectivedateSelector" ng-change="triggerPlanEffDatNext(planeffectivedateSelector)"  
          ng-options="ped.coreValue as ped.displayValue for ped in peds"  ng-disabled="enableplaneffectivedateSelector"  style="width: 160px;margin: 10px;">
      <option value="" >PlanEffectiveDate</option>
      </select>
       </td></tr>
           </table>
           
                       <table>
           <tr> <td>
         <select multiple  size="5" id="projectSelector" ng-model="projectSelector"  
                  ng-options="Project as Project for Project in projects"  style="width: 160px;margin: 10px;"> 
      <option value="" >Project(s)</option>

      </select>
       </td>
       </tr>
           </table>
           
                        <table>
           <tr> <td>
            <div class="col-sm-10">
            <table>
                            <tr > <td>    <input ng-model="rememberMe" type="checkbox" id="rememberMe" name="rememberMe" /> </td>
                               <td style="display: inline;"> <label class="pStyle" style="margin-left: 5px" for="remember_me">Remember my selection</label> </td> </tr>
                               <tr >  <td></td> <td> <button type="submit" class="btn btn-primary" style="margin-left: 50px;padding: 2px;" > Go </button> </td></tr>
                           </table>
                            </div>
            </td></tr>
           </table>
           
        </div>
        
  <!--       
        </body>
       </html> -->