# /common/
/common/target

# /life/
/life/target

# /life-build/
/life-build/target

# /life-common/
/life-common/target

# /ng-pw-api/
/ng-pw-api/.apt_generated
/ng-pw-api/LICENSE
/ng-pw-api/src/main/java
/ng-pw-api/target

# /ng-pw-app/
/ng-pw-app/.apt_generated

# /ng-pw-ear/
/ng-pw-ear/target

# /ng-pw-legacy/
/ng-pw-legacy/.apt_generated
/ng-pw-legacy/target

# /ng-pw-rest/
/ng-pw-rest/.apt_generated
/ng-pw-rest/src/main/resources-generated
/ng-pw-rest/src/main/webapp/META-INF/context.xml
/ng-pw-rest/src/main/webapp/WEB-INF/sun-resources.xml
/ng-pw-rest/target

# /ng-pw-service/
/ng-pw-service/.apt_generated
/ng-pw-service/target

# /ng-pw-ui/
/ng-pw-ui/.apt_generated
/ng-pw-ui/node
/ng-pw-ui/node_modules
/ng-pw-ui/src/main/webapp/static/bower_components
/ng-pw-ui/target
