# /common/
/common/target

# /life/
/life/target

# /life-common/
/life-common/target

# /ng-pw-api/
/ng-pw-api/LICENSE
/ng-pw-api/src/main/java
/ng-pw-api/target

# /ng-pw-legacy/
/ng-pw-legacy/target

# /ng-pw-rest/
/ng-pw-rest/target

# /ng-pw-service/
/ng-pw-service/target
