<div class="ui-widget ui-widget-content ui-corner-all" style="padding: 0.75em">
  <div style="display: table; padding: 0.25em; min-height: 500px">
    <div style="display: table-row;">
      <div style="display: table-cell;">
        <label> <span style="align-content: center"> Environment </span></label>
      </div>
      <div style="display: table-cell;">
        <p-dropdown [options]="filterEnvOptions" [(ngModel)]="filterEnv" (onChange)="onEnvChange()" [autoWidth]="false" [style]="{'width':'350px','margin-left':'5px','margin-bottom':'5px'}"></p-dropdown>
      </div>
    </div>
    <div style="display: table-row;">
      <div style="display: table-cell; vertical-align: top">
        <label><span style="align-content: center"> Projects </span></label>
      </div>
      <div style="display: table-cell;">
        <p-pickList [source]="filterProjectInputRows" [target]="filterProjectOutputRows" [showSourceControls]="false" [showTargetControls]="false"
          [sourceStyle]="{'width':'350px','margin-left': '6px','margin-bottom':'5px','height':'145px'}" [targetStyle]="{'width':'350px','margin-bottom':'5px','height':'145px'}"
          (onMoveToSource)="sortPickList(filterProjectInputRows)" (onMoveToTarget)="sortPickList(filterProjectOutputRows)">
          <template let-project pTemplate="item">
            <div>{{project.label}}</div>
          </template>
          </p-pickList>
      </div>
    </div>
    <div style="display: table-row;">
      <div style="display: table-cell; vertical-align: top">
        <label><span style="align-content: center"> Business Rules </span></label>
      </div>
      <div style="display: table-cell;">
        <div style="display: table-row;">
          <p-pickList [source]="filterBussRulesInputRows" [target]="filterBussRulesOutputRows" [showSourceControls]="false" [showTargetControls]="false"
            [sourceStyle]="{'width':'350px','margin-left': '6px','margin-bottom':'5px','height':'145px'}" [targetStyle]="{'width':'350px','margin-bottom':'5px','height':'145px'}"
            (onMoveToSource)="sortPickList(filterBussRulesInputRows)" (onMoveToTarget)="sortPickList(filterBussRulesOutputRows)">
            <template let-bussRule pTemplate="item">
              <div style="margin-bottom:3px">{{bussRule.label}}</div>
            </template>
            </p-pickList>
        </div>
      </div>
    </div>
    <div style="display: table-row;">
      <div style="display: table-cell; vertical-align: top">
        <label><span style="align-content: center"> User ID's </span></label>
      </div>
      <div style="display: table-cell;">
        <p-pickList [source]="filterUserIdInputRows" [target]="filterUserIdOutputRows" [showSourceControls]="false" [showTargetControls]="false"
          [sourceStyle]="{'width':'350px','margin-left': '6px','margin-bottom':'5px','height':'145px'}" [targetStyle]="{'width':'350px','margin-bottom':'5px','height':'145px'}"
          (onMoveToSource)="sortPickList(filterUserIdInputRows)" (onMoveToTarget)="sortPickList(filterUserIdOutputRows)">
          <template let-userId pTemplate="item">
            <div>{{userId.label}}</div>
          </template>
          </p-pickList>
      </div>
    </div>
    <div style="display: table-row;">
      <div style="display: table-cell;">
      </div>
      <div style="display: table-cell; position: relative;left: 565px">
        <button pButton type="button" label="Go" [disabled]="isGoDisabled"></button>
        <button pButton type="button" label="Reset" [disabled]="isResetDisabled" (click)="onResetClick()"></button>
      </div>
    </div>
  </div>
</div>