<div class="ui-widget ui-widget-content ui-corner-all" style="padding: 0.75em">
  <div style="display: table; width: 50%; min-height: 38em;">
    <div style="display: table-row; height: 25px">
      <div style="display:table-cell; padding-bottom: 8px;">
        <ul>
          <li>
            <p-dropdown [options]="envIdOptions" [(ngModel)]="envId" (onChange)="onEnvIdChange()" [autoWidth]="false" [style]="{'width':'350px'}"></p-dropdown>
          </li>
          <li>
            <p-dropdown [options]="companyCodeOptions" [(ngModel)]="companyCode" [disabled]="isCompanyCodeDisabled" (onChange)="onCompanyCodeChange()"
              [autoWidth]="false" [style]="{'width':'350px'}"></p-dropdown>
          </li>
          <li>
            <p-dropdown [options]="productCodeOptions" [(ngModel)]="productCode" [disabled]="isProductCodeDisabled" (onChange)="onProductChange()"
              [autoWidth]="false" [style]="{'width':'350px'}"></p-dropdown>
          </li>
          <li>
            <p-dropdown [options]="planCodeOptions" [(ngModel)]="planCode" [disabled]="isPlanCodeDisabled" (onChange)="onPlanCodeChange()"
              [autoWidth]="false" [style]="{'width':'350px'}"></p-dropdown>
          </li>
          <li>
            <p-dropdown [options]="issueStateOptions" [(ngModel)]="issueState" [disabled]="isIssueStateDisabled" (onChange)="onIssueStateChange()"
              [autoWidth]="false" [style]="{'width':'350px'}"></p-dropdown>
          </li>
          <li>
            <p-dropdown [options]="lobOptions" [(ngModel)]="lob" [disabled]="isLobDisabled" (onChange)="onLobChange()" [autoWidth]="false"
              [style]="{'width':'350px'}"></p-dropdown>
          </li>
          <li>
            <p-dropdown [options]="effDateOptions" [(ngModel)]="effDate" [disabled]="isEffDateDisabled" (onChange)="onEffDateChange()"
              [autoWidth]="false" [style]="{'width':'350px'}"></p-dropdown>
          </li>
          <li style="margin-top: 20px">
            <p-checkbox [(ngModel)]="rememberSelections" binary="true" label="Remember my selections"></p-checkbox>
          </li>
        </ul>
      </div>
      <div style="display:table-cell;column-span: 10px">
        <ul style="position: relative; top: 25px; left: -150px" [style.visibility]="isDivRendered ? 'visible' : 'hidden'">
          <li>
            <label> <span style="align-content: center"> Annuity Category Selection</span></label>
          </li>
          <li style="margin-top:10px">
            <p-checkbox [(ngModel)]="surrenders" binary="true" label="Surrenders"></p-checkbox>
          </li>
        </ul>
        <ul style="position: relative; top: 220px; left: -150px">
          <li>
            <button pButton type="button" [disabled]="isNextDisabled" label="Next "></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>