<p-dialog header="Error" [(visible)]="isMsgDisplayed" [modal]="true">
  <img src="../../assets/img/messagebox_critical.png" style="vertical-align: middle">
  {{msgText}}
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="isMsgDisplayed=false" label="Close"></button>
    </div>
  </p-footer>
</p-dialog>

<p-panel header="Logon to Product Wizard">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div style="margin-left: 40px; margin-top: 30px; margin-bottom: 30px;">
      <table>
        <tr>
          <td style="text-align: right">
            <span>User Name*:&#xa0;</span>
          </td>
          <td>
            <input pInputText type="text" formControlName="userName" placeholder="Required"/>
          </td>
        </tr>
        <tr>
          <td style="text-align: right">
            <span>Password*:&#xa0;</span>
          </td>
          <td>
             <input pInputText type="password" formControlName="password" placeholder="Required"/>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td style="padding-top: 20px">
            <button pButton type="submit" label="Log in" [disabled]="!loginForm.valid"></button>
          </td>
        </tr>
      </table>
    </div>
  </form>
</p-panel>
