<p-panel header="Log in to Product Wizard">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div style="margin-left: 40px; margin-top: 30px; margin-bottom: 30px;">
      <div style="display: table;">
        <div style="display: table-row;">
          <div style="display: table-cell;">
            <span>User Name:&#xa0;</span>
          </div>
          <div style="display: table-cell;">
            <input pInputText type="text" formControlName="userName" placeholder="Required"/>
          </div>
        </div>
        <div style="display: table-row;">
          <div style="display: table-cell; padding-top: 5px;">
            <span>Password:&#xa0;</span>
          </div>
          <div style="display: table-cell; padding-top: 5px;">
             <input pInputText type="password" formControlName="password" placeholder="Required"/>
          </div>
        </div>
        <div style="display: table-row;">
          <div style="display: table-cell;">
          </div>
          <div style="display: table-cell; padding-top: 20px;">
            <button pButton type="submit" label="Log in" [disabled]="!loginForm.valid"></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</p-panel>
