.ui-tree .ui-tree-container {
  overflow: hidden !important;
}

.tn-1 .ui-treenode-icon {
  color: rgba(228, 192, 46, 1) !important;
}

.tn-1-disabled .ui-treenode-icon {
  color: lightgray !important;
}

.tn-1-disabled .ui-treenode-label {
  color: lightgray !important;
}

.tn-2 .ui-treenode-icon {
  color: rgba(39, 143, 175, 1) !important;
}
