<p-dialog [(visible)]="isInfoAboutDisplayed" [modal]="true" [width]="350">
  <p-header>
    <img src="assets/img/messagebox_info.png" style="vertical-align: middle"> About Product Wizard
  </p-header>
  <div>
    <div>{{infoAbout.appDesignator}} {{infoAbout.appVersion}}</div>
    <div>User ID: {{userName}}</div>
    <div>{{buildDate | date:'MMMM dd yyyy @ H:mm:ss'}}</div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="isInfoAboutDisplayed=false" label="Close"></button>
    </div>
  </p-footer>
</p-dialog>

<div *ngIf="isHomeView">
  <p-menubar [model]="menuModel"></p-menubar>
  <p-tabMenu [model]="tabsModel" [activeItem]="activeTab" [style]="{'margin-top':'5px', 'margin-bottom':'10px'}"></p-tabMenu>
</div>
