.textContainer{
margin-top: 1%;
margin-left: 27%;
}
.ui-layout-container{
	height:100%;
}
.appContainer {
margin-top: 1% !important;
margin-bottom: 0% !important;
}
#thMargin{
width: 3%;
}
.vscroll{
      width:100%;
    
}	
.cscLogo{
margin-bottom: auto !important;
margin-left: auto !important;
}

.pa-title{
 position: absolute;
 margin-top: auto;
 margin-bottom: -22px;
}

.floatRight{
float: right;
}

.mainContainer{
height: 87%; 
border-bottom-left-radius: 0.9em;
border-bottom-right-radius: 0.9em;
margin-left: .01%; 
background-image: -webkit-linear-gradient(90deg, #E3E3E3 0%, #F6F6F6 100%);
}

#sidebar {
	width: 15%
}

@media ( max-width :1366px) {
	.menuLabelLeft2 {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 12px;
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		line-height : 1.1;
		margin: 0px;
		line-height: 1.1;
	}
	#sidebar {
		width: 17%;
	}
}

@media ( max-width :1024px) {
	.menuLabelLeft2 {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 12px;
		font-family: "Microsoft sans serif", sans-serif; 
		line-height : 1.1;
		margin: 0px;
		line-height: 1.1;
	}
	#toggleMenu {
		display: none;
	}
	#sidebar {
		width: 65px;
	}
}

.pa-sidebar{
float: left ;
min-width: 15%;
 margin-left: -9px;
height: 97.5%;
 margin-top: .5%; 
background-image: -webkit-linear-gradient(90deg, #104473 75%, #104473 100%);
border-bottom-left-radius: 0.9em;
}

ul.nav li.dropdown:hover ul.dropdown-menu { 
	display: block; 
	
	}
	
ul.nav li.dropdown:hover ul.dropdown-menu { 
	display: block; 
	}
	
.navColor{
background-color: #104473;	
}

.textColor{
color: white;
}
.menuLabelLeft2 {
	display: inline;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	font-family: "Microsoft sans serif", sans-serif;
	line-height: 1.1;
	margin: 0px;
	font-weight:normal;
}
@media ( max-width :1366px) {
	.menuLabelLeft2 {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 12px;
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		line-height : 1.1;
		margin: 0px;
		line-height: 1.1;
	}
	#sidebar {
		width: 17%;
	}
}

@media ( max-width :1024px) {
	.menuLabelLeft2 {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 12px;
		font-family: "Microsoft sans serif", sans-serif; 
		line-height : 1.1;
		margin: 0px;
		line-height: 1.1;
	}
	#toggleMenu {
		display: none;
	}
	#sidebar {
		width: 65px;
	}
}
.pa-submenu{
display: inline;
float: right; 
color: white;
}
.container-1{
margin-right: -22px; 
margin-left: -18px;

}
.container-2{
 padding-left: .5%;
 background-color: #FFFFFF; 
 overflow: auto;
 margin-left: 14.5%;
 margin-top: .5%; 
 height: 97.5%;
 border-bottom-right-radius: 0.9em;
}
	

.mainContainer{
height: 87%; 
border-bottom-left-radius: 0.9em;
border-bottom-right-radius: 0.9em;
margin-left: .01%; 
background-image: -webkit-linear-gradient(90deg, #E3E3E3 0%, #F6F6F6 100%);
}
.containerStyle{margin-top: .5%;}
b,
strong {
 /* font-weight: bold;*/
 font-weight: normal;
}
.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  /**font-weight: normal;**/
  font-weight: bold;
  font-family: Arial;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
#actionMarginP
{margin-right: 10px;
}
.margin_Top
{
margin-top: 1%
}
.errorMessage{
color: #f00;
}
#btnData{
top: 10px;margin:10px;
}

.av-container-style{
height: 100%; 
width: auto; 
overflow: hidden; 
position: relative;	
}
.av-top-margin{
margin-top: 0.5%;
}
.ux_billing_optionbar_last_button_custom {
border-bottom-right-radius: 6px !important;
border-top-right-radius: 6px !important;
border-bottom-left-radius: 6px !important;
border-top-left-radius: 6px !important;
}
#istyle{
	font-size: 15px;
}
.option_bar_submenu_bk{
	background-image: -webkit-linear-gradient(90deg, #E3E3E3 0%, #F6F6F6 100%);
	min-width: 100%;
}
li.disabled {
    color: #AAAAAA;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}
li.enabled {
    color: black;    
}
.pointer_menu{
	cursor: pointer; 
	cursor: hand;
}
