 <div ng-init="init(event, 'Entire Table')" id="Entire Table" class="tabcontent" >
      
           <table>
           <tr> <td>
            <select id="rulesSelector" ng-init="rulesSelector = rulesSelector||rules[0]" ng-model="rulesSelector" ng-change="triggerRulesNext(rulesSelector)"  
              ng-options="rule.coreValue as rule.displayValue  for rule in rules"   style="width: 160px;margin: 10px;">
              <option value="">Select</option>
      </select>
      </td></tr>
           </table>
           
                   <table>
           <tr> <td>
            <select id="environmentSelector"   ng-model="environmentSelector" ng-change="triggerEnvNext(environmentSelector)"  
            ng-options="environment.coreValue as environment.displayValue  for environment in environments" style="width: 160px;margin: 10px;">
             <option value="">Environment</option> 

      </select>
        </td></tr>
           </table>
           
              <table>
           <tr> <td>
          <select id="companySelector" ng-model="companySelector" ng-change="triggerCompNext(companySelector)" style="width: 160px;margin: 10px;"
          ng-options="company.coreValue as company.displayValue  for company in companys" ng-disabled="enablecompanySelector" >
      <option  value="" >Company</option>
      </select>
       </td></tr>
           </table>
           
           
                
                       <table>
           <tr> <td>
         <select multiple  size="8"  id="businessRulesSelector" ng-model="businessRulesSelector"  
                  ng-options="businessRule.coreValue as businessRule.displayValue for businessRule in businesRules"  style="width: 250px;margin: 10px;"> 
  

      </select>
       </td>
       </tr>
           </table>
           
           
                             <table>
           <tr> <td>
            <div class="col-sm-10">
            <table>
                            <tr > <td>    <input ng-model="rememberMe" type="checkbox" id="rememberMe" name="rememberMe" /> </td>
                               <td style="display: inline;"> <label class="pStyle" style="margin-left: 5px" for="remember_me">Remember my selection</label> </td> </tr>
                               <tr >  <td></td> <td> <button type="submit" class="btn btn-primary" style="margin-left: 50px;padding: 2px;" > Go </button> </td></tr>
                           </table>
                            </div>
            </td></tr>
           </table>
      
    </div>