<div *ngIf="isWaitBoxVisible" class="ui-widget ui-widget-content"
      style="position: absolute; z-index: 10000; margin: 0; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);">
  <div style="width: 230px; height: 160px; text-align:center; border-width: 1px; background-color: white;">
    <div style="margin-bottom: 15px; padding-top: 15px;">
      Please wait...
    </div>
    <div style="margin-bottom: 20px;">
      <span class="fa fa-refresh fa-spin fa-3x fa-fw ui-inputtext"></span>
    </div>
 </div>
</div>

<app-notification></app-notification>
<app-home-decorator></app-home-decorator>
<router-outlet></router-outlet>
