<div class="ui-widget ui-widget-content" [style.visibility]="waitBoxVisibility"
     style="position: absolute; z-index: 10000; margin: 0; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);">
 <table style="width: 230px; height: 160px; border-collapse: collapse; border-width: 2px; background-color: white;">
   <tr>
     <td align="center" valign="middle">
        <div class="ui-inputtext" style="margin-bottom: 10px; padding-top: 15px;">
          Please wait...
        </div>
        <div style="margin-bottom: 20px;">
          <span class="fa fa-refresh fa-spin fa-3x fa-fw ui-inputtext"></span>
        </div>
     </td>
   </tr>
 </table>
</div>

<app-notification></app-notification>
<router-outlet></router-outlet>
