<table cellpadding="3">
  <tr>
    <td>
      <label> <span style="align-content: center"> Environment </span></label>
    </td>
    <td>
      <p-dropdown [options]="filterEnvOptions" [(ngModel)]="filterEnv" (onChange)="onEnvChange()" [autoWidth]="false" [style]="{'width':'350px','margin-left':'10px'}"></p-dropdown>
    </td>
  </tr>
  <tr>
    <td>
      <label> <span style="align-content: center"> Enter Package Name (Optional) </span></label>
    </td>
    <td>
      <input type="text" pInputText [(ngModel)]="enterPackageName" [disabled]="isEnterPackageDisabled" style="margin-left: 10px; width: 350px"
      />
    </td>
  </tr>
  <tr>
    <td valign="top">
      <label><span style="align-content: initial"> Packages </span></label>
    </td>
    <td>
      <p-pickList [source]="filterPackageInputRows" [target]="filterPackageOutputRows" [showSourceControls]="false" [showTargetControls]="false"
        [sourceStyle]="{'width':'350px','margin-left': '6px','margin-bottom':'5px','height':'145px'}" [targetStyle]="{'width':'350px','margin-bottom':'5px','height':'145px'}">
        <template let-project pTemplate="item">
          <div>{{project.label}}</div>
        </template>
        </p-pickList>
    </td>
  </tr>
  <tr>
    <td valign="top">
      <label><span style="align-content: initial"> Projects </span></label>
    </td>
    <td>
      <p-pickList [source]="filterProjectInputRows" [target]="filterProjectOutputRows" [showSourceControls]="false" [showTargetControls]="false"
        [sourceStyle]="{'width':'350px','margin-left': '6px','margin-bottom':'15px','height':'145px'}" [targetStyle]="{'width':'350px','margin-bottom':'15px','height':'145px'}">
        <template let-project pTemplate="item">
          <div>{{project.label}}</div>
        </template>
        </p-pickList>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td style="float: right;">
      <button pButton type="button" label="Go" [disabled]="isGoDisabled"></button>
      <button pButton type="button" label="Reset" [disabled]="isResetDisabled" (click)="onResetClick()"></button>
    </td>
  </tr>
</table>