@media only screen and (max-width: 736px) {
    
    /* Force table to not be like tables anymore */
    #no-more-tables table, 
    #no-more-tables thead, 
    #no-more-tables tbody, 
    #no-more-tables th, 
    #no-more-tables td, 
    #no-more-tables tr { 
        display: block; 
    }
 
    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
 
    #no-more-tables tr { border: 1px solid #ccc; }
 
    #no-more-tables td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
        white-space: normal;
        text-align: left !important;
        width: 100% !important;
    }
    
 
    #no-more-tables td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }
 
    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
    #no-more-tables.policylist tr{
         border: none;
         margin-bottom: 20px;
    }
    #no-more-tables.policylist td > div.doc-link{padding-left: 65px !important;}
    #no-more-tables.policylist td.icongroup{padding-left: 65px !important;}


}

    #no-more-tables.policylist td { 
        padding-left:0px !important; 
        border: none;
        background-color: #fff;

    }
    #no-more-tables.policylist tr{
         border: none;
         margin-bottom: 20px;
    }
.policylist table{
    border: none;
}


.table-icon {
    width: 50px;
    height: 50px;
    margin: 0px auto;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    float: left;

}
.table-icon-small {
    width: 32px;
    height: 32px;
    margin: 0px auto;
    border-radius: 50%;
    display: inline-block;
    text-align: center;

}

.mar-btm{margin-bottom: 25px;
    /* padding-bottom: 20px; */
    display: inline-block;}
.mar-btm-15px{margin-bottom: 15px}
.mar-right-15px{margin-right: 15px}
.icon-white:after, .icon-white:before{ 
    font-size: 25px !important;
    color: #ffffff !important;
    line-height: 50px;
    margin: -1px;
}
.icon-white-small:after, .icon-white-small:before {font-size: 18px !important;
    line-height: 30px;
    color: #fff;
}
.red{color: red;}
.policy-text-title{font-size: 20px}
.pdf-text{padding-left: 10px;}
.policy-text{font-size: 16px;color: #3498db; margin-bottom: 5px;}
.policy-status{margin-bottom: 5px;}
.comment-text{margin-top: 5px; color: #777}
.text-blue{color: #3498db;}
.text-green{color: #1abc9c}
.doc-link{margin-top: 5px;}
.inlineBlc{display: inline-block;}

@media only screen and (max-width: 736px){
.doc-link{padding-left: 65px !important;}
.icongroup{padding-left: 80px !important; padding-top: 15px !important}
}
