a.ux_banner_link_row_text_color {
	color: #3366CC;
}

span.ux_banner_link_row_text_color {
	color: black;
}

.ux_banner_link_row_text {
	color: #3366CC;
}
.ux_table_column_header {
	font-size: 0.875em;
	font-weight: bold !important;
	color: #000000 !important;
}
.ux_column_data_text {
	color: black;
	font-size: 0.750em !important;
}
th.ui-state-default,.ui-widget-header th.ui-state-default,.ui-widget-content th.ui-state-default {
	background-color: transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#C8C6C6) );
	background: -moz-linear-gradient(top, #EAEAEA, #C8C6C6);
	background-image: -o-linear-gradient(top, #EAEAEA 0%, #C8C6C6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EAEAEA, endColorstr=#C8C6C6 );
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EAEAEA, endColorstr=#C8C6C6)";
	box-shadow: none !important;
}

body.ui-layout-container {	
	background-image: -ms-linear-gradient(90deg, #346A9A 75%, #104473 100%);
	background: -moz-linear-gradient(90deg, #346A9A 75%, #104473 100%);
	/* For Mozilla/Gecko (Firefox etc) */
	background-image: -o-linear-gradient(90deg, #346A9A 75%, #104473 100%);
	/* For Opera */
	background-image: -webkit-linear-gradient(90deg, #346A9A 75%, #104473 100%);
	/* For Webkit /* Safari 5.1+, Mobile Safari, Chrome 10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#104473', endColorstr='#346A9A' ); /* for IE */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#104473',endColorstr='#346A9A')";
}

.ux_fieldset_group .ux_fieldset {
	border: 1px solid #CCCCCC;
	box-shadow: 1px 1px 1px rgba(48, 48, 48, 0.5);
	/*For IE>=9, Firefox, Chrome, Safari, Opera*/
	background: -moz-linear-gradient(90deg, #F6F6F6 0%, #FFFFFF 20%) !important; /* For Mozilla/Gecko (Firefox etc) */
	background-image: -ms-linear-gradient(90deg, #F6F6F6 0%, #FFFFFF 20%) !important; /* For IE 10 */
	background-image: -o-linear-gradient(90deg, #F6F6F6 0%, #FFFFFF 20%) !important; /* For Opera */
	background-image: -webkit-linear-gradient(90deg, #F6F6F6 0%, #FFFFFF 20%) !important; /* For Webkit /* Safari 5.1+, Mobile Safari, Chrome 10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFF', endColorstr='#F6F6F6' ) !important;
	/* for IE <= 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FFFFFF',endColorstr='#F6F6F6')" !important; /* for IE 9*/
}
.ux_required_asterisk {
	font-size: 1.5em !important;
	color: #FF0000 !important;
	font-weight: bold;
}
button.ui-button.ux_page_button:hover, button.ui-button.ux_page_button:focus,
button.ui-button.ux_page_longer_button:hover, button.ui-button.ux_page_longer_button:focus,
.ui-dialog a.ui-dialog-titlebar-close-button:hover ,.ui-dialog a.ui-dialog-titlebar-close-button:focus {
	/* EXJB-1819 - Starts */
	background: -moz-linear-gradient(270deg, #A9DAFF, #51A5F0);
	/* For Mozilla/Gecko (Firefox etc) */
	background-image: -o-linear-gradient(270deg, #A9DAFF, #51A5F0);
	/* For Opera */
	background-image: -webkit-linear-gradient(270deg, #A9DAFF, #51A5F0);
	/* For Webkit like  Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -ms-linear-gradient(270deg, #A9DAFF, #51A5F0);
	/* For IE 10 */
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#A9DAFF', endColorstr='#51A5F0' ); /* for IE <= 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#A9DAFF',endColorstr='#51A5F0')";
	/* for IE 9*/
}
button.ui-button.ux_page_button, button.ui-button.ux_page_longer_button,
.ui-dialog a.ui-dialog-titlebar-close-button {
	/* EXJB-1819 - Ends */
	background: -moz-linear-gradient(270deg, #A9DAFF 0%, #51A5F0 50%, #448AC9 100%);
	/* For Mozilla/Gecko (Firefox etc) */
	background-image: -o-linear-gradient(270deg, #A9DAFF 0%, #51A5F0 50%, #448AC9 100%);
	/* For Opera */
	background-image: -webkit-linear-gradient(270deg, #A9DAFF 0%, #51A5F0 50%, #448AC9 100%);
	/* For Webkit like  Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -ms-linear-gradient(0deg, #A9DAFF 0%, #51A5F0 50%, #448AC9 100%);
	/* For IE 10 */
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#A9DAFF', endColorstr='#448AC9' ); /*For IE*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#A9DAFF',endColorstr='#448AC9')";
	/*For IE*/
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	box-shadow: 0px 1px 2px #888888;
	/*For IE>=9, Firefox, Chrome, Safari, Opera*/
	opacity: 1;
	border: 1px solid #358DD8;
	color: #FFFFFF;
	font-size: 1em;
	font-weight: bold;
	text-shadow: 1px 1px #010101;
	cursor: pointer;
}
.ui-state-hover {
	border-color: #BFDAFF !important;
	background: none repeat scroll 0 0 transparent;
}

.ux_optionbar {
	background: -moz-linear-gradient(270deg, #346A9A 0%, #69A1D3 96%, #014B8D 100%) !important;
	background: -moz-linear-gradient(to bottom, #346A9A 0%, #69A1D3 96%, #014B8D 100%) !important;
	background: -o-linear-gradient(270deg, #346A9A 0%, #69A1D3 96%, #014B8D 100%) !important;
	background: -webkit-linear-gradient(90deg, #346A9A 0%, #69A1D3 96%, #014B8D 100%) !important;
	background: -ms-linear-gradient(270deg, #346A9A 0%, #014B8D 100%) !important;
	background: linear-gradient(270deg, #346A9A 0%, #69A1D3 96%, #014B8D 100%) !important;
	background: linear-gradient(to bottom, #346A9A 0%, #69A1D3 96%, #014B8D 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#346A9A, endColorstr=#014B8D );
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#346A9A, endColorstr=#014B8D )";
	border-top: 1px solid #104473;
	border-bottom: 1px solid #104473;
}

button.ui-button.ux_billing_optionbar_button {
	border-right: 1px solid #FFFFFF;
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
	font-weight: bold;
	background: -moz-linear-gradient(270deg, #3E7AAF 0%, #5B8CB7 6%, #6191BC 48%, #3E7AAF 51%, #81B5E4 100%);
	background: -moz-linear-gradient(to bottom, #3E7AAF 0%, #5B8CB7 6%, #6191BC 48%, #3E7AAF 51%, #81B5E4 100%);
	background: -o-linear-gradient(270deg, #3E7AAF 0%, #5B8CB7 6%, #6191BC 48%, #3E7AAF 51%, #81B5E4 100%);
	background: -webkit-linear-gradient(270deg, #3E7AAF 0%, #5B8CB7 6%, #6191BC 48%, #3E7AAF 51%, #81B5E4 100%);
	background: -ms-linear-gradient(270deg, #3E7AAF 0%, #5B8CB7 6%, #6191BC 48%, #3E7AAF 51%, #81B5E4 100%) !important;
	background: linear-gradient(270deg, #3E7AAF 0%, #5B8CB7 6%, #6191BC 48%, #3E7AAF 51%, #81B5E4 100%) !important;
	background: linear-gradient(to bottom, #3E7AAF 0%, #5B8CB7 6%, #6191BC 48%, #3E7AAF 51%, #81B5E4 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#81B5E4, endColorstr=#3E7AAF );
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#81B5E4, endColorstr=#3E7AAF)";
}