/*overridng wizard cs*/
.steps-indicator.steps-4:before {
    left: calc(100% / 4 / 100);
    right: calc(100% / 4 / 100);
    /* padding: 0px 15px; */
    width: 100%;
    margin: 0px auto;
}
.steps-indicator li a:before {
    position: absolute;
    top: -14px;
    left: calc(50% - 16px);
    width: 32px;
    height: 32px;
    border-radius: 100%;
    transition: .25s;
    border: 2px solid #fff;
    box-shadow: 0px 0px 5px 2px rgba(196,196,196,1);
    color: #fff;
    font-family: "source_sans_bold";
    line-height: 28px;
}
.steps-indicator li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 25px;
    text-align: center;
    line-height: 15px;
}
.steps-indicator:before {
    position: absolute;
    height: 5px;
}
.steps-indicator li.current a:before {
    background-color: #3498db;
}
.steps-indicator li.done a:before {
    background-color: #27ae60;
}
.steps-indicator li.editing a:before {
    background-color: #27ae60;
}

.steps-indicator li a {
    color: grey;
    text-decoration: none;
    text-transform: none;
    font-weight: 700;
    transition: .25s;
    cursor: pointer;
}
.stp-number{
    position: absolute;
    text-align: center;
    margin-top: -35px;
    color: #fff;
    width: 100%;
    z-index: 999;
} 

.padding-none {
   padding-left: 0px !important;
   padding-right: 0px !important;
} 

.form-group label.control-label.required-star {
    padding-left: 25px;
}
.required-star::before {
    content: '*';
    color: #ef2525;
    position: absolute;
    left: 15px;
} 

.glyphicon:empty {
    width: inherit !important;
}
.glyphicon-log-in:before {
    font-size: 40px !important;
    margin-left: 0px !important;
    line-height: 80px;
    color: #fff;
}
.glyphicon-eye-open:before {
    font-size: 40px !important;
    margin-left: -5px !important;
    line-height: 80px;
    color: #fff;
}

.header-margin-wide{margin:80px 0 0}
.wiz-btn-mrg{margin:10px 0px;}
.wiz-btn-dis
{
    padding-right:0px; 
    background-color:#95a5a6;
    padding-right: 0px;  
    box-shadow: 0px 0px 8px 1px rgba(196,196,196,1); 
    border:none;
}
.wiz-btn-l-pad0{padding-left: 0px}
.wiz-btn-r-pad0{padding-right: 0px}
.wiz-btn{
    background-color:#3498db;
    box-shadow: 0px 0px 8px 1px rgba(196,196,196,1);
    border:none;
    margin-left: 15px;
    margin-right: 15px;
}
.wiz-btn-inner-dis{background-color: #7f8c8d; padding:8px 15px;}
.wiz-btn-inner{background-color: #2980b9; padding:8px 15px;color: #fff;}
.wiz-btn-pad{padding:10px 10px;color: #fff;}
.btn.glyphicon-chevron-left:before {color: #fff}



.growl-container.growl-fixed {
    position: fixed;
    float: none;
    width: 90%;
    max-width: 400px;
    z-index: 9999;
    margin: 0px auto;
    text-align: center;
    left: 0px;
}


.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {

    display: none;
}

[class^="title-icon flaticon-"]:before, 
[class*="title-icon flaticon-"]:before, 
[class^="title-icon flaticon-"]:after, 
[class*="title-icon flaticon-"]:after {
    font-size: 30px !important;
    color: #1abc9c;
    line-height: 59px;
}
.labelfloat{
    text-align: left;
    width: 47%;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.clear-l{clear: left;}
.clear-r{clear: right;}

.loading {position: fixed;
    z-index: 99999;
    margin: 0px auto;
    text-align: center;
    width: 100%;
    top: 30%;}
    
.popover-navigation{
    padding-bottom: 20px !important;
}

.tour-backdrop{
    opacity: 0.2;
}

.tour-step-background{
background: transparent;
}

.popover[class*="tour-"] {
    z-index: 99999;
}