<html>
<head>
<!-- commented for time being nikhil-->

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script> 

	 <script src="bower_components/angular-translate/angular-translate.min.js"></script>
	 <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
	
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/optionA_theme/bootstrap-optionA.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/custom/ux-jquery-ui-theme.css">
    <link rel="stylesheet" href="css/custom/jquery-ui-component-theme.css">
    <link rel="stylesheet" href="css/custom/billing.css">
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css">
    <link rel="stylesheet" href="css/dashboard_new.css">
    <!-- nikhil comments ends -->
    

  
    
    
	  <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet"> 
       <link rel="stylesheet" href="bower_components/angular-ui-layout/src/ui-layout.css">
 <!-- Tree Control Start -->
 <link rel="stylesheet" href="bower_components/angular-tree-control/css/tree-control-attribute.css"> 
  <link rel="stylesheet" href="bower_components/angular-tree-control/css/tree-control.css"> 
  <script src="bower_components/angular-tree-control/angular-tree-control.js"></script>
 <!-- Tree Control End -->
  

    <link rel="stylesheet" href="css/custom/common.css">
   
    <script src="bower_components/jquery/dist/jquery.js"></script>

    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="bower_components/angular-ui-layout/src/ui-layout.js"></script>
 

    <script src="bower_components/angular-tree-control/angular-tree-control.js"></script>


    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
<!--     <script src="bower_components/ng-idle/angular-idle.min.js"></script> -->
   
 
 
 



<script src="js/lazyload.js"></script>


	
	<script src="bower_components/ocLazyLoad/dist/ocLazyLoad.js"></script>
	<script src="bower_components/angular-ui-grid/ui-grid.js"></script>
	<script src="bower_components/angular-spinner/angular-spinner.js"></script>
	<script src="bower_components/spin.js/spin.js"></script>
	
	
	<script src="js/config.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/service.js"></script>

	<script src="js/lazyload.js"></script>
	<script src="js/businessRulesSearchTab/businessRSController.js"></script>
	<script src="js/entireTableTab/entireTableController.js"></script>
	
	<link rel="stylesheet" href="css/custom/ux-theme.css">

    <script>
  
 
    </script>
    <title>Product Wizard</title>
</head>
<!-- class="ui-layout ui-layout-container" -->
<body id="progressdiv1" ng-app="mainuxApp" ng-controller="mainUXController" ng-init="init()" class="ui-layout ui-layout-container">
<script type="text/ng-template" id="warning-dialog.html">
  <div class="modal-header">
   <h3>Your session is about to expire.</h3>
  </div>
  <div idle-countdown="countdown" ng-init="countdown=5" class="modal-body">
   <progressbar max="5" value="5" animate="false" class="progress-striped active">You'll be logged out in {{countdown}} second(s).</progressbar>
  </div>
</script>
<script type="text/ng-template" id="timedout-dialog.html">
  <div class="modal-header">
   <h3>You've Timed Out!</h3>
  </div>
  <div class="modal-body">
   <p>
      You were idle too long. Normally you'd be logged out, but in this demo just do anything and you'll be reset.
   </p>
 </div>
</script>



 <!-- Layout starts-->

 
<div class="container-fluid appContainer" >

<!-- <div ng-include src="'partials/viewVersionsModal.html'"></div> -->

<div class="ux_relative-header" style=" height: 9%;">
        <div>
			<img id="syslogo1" class="ux_systemlogo cscLogo" src="img/CSCLogo_125X82.png">
			<div class="ux_relative-banner-title-menu pa-title">
				<label class="ux_relative-banner-title-menu-normal" style="font-weight: bold; margin-top: 10%;
font-size: smaller !important;">Product Wizard</label></div>


 <ul class="nav navbar-nav navbar-right">
            <li class="language hidden-xs">
             <!--  <span><a placement="bottom" content="Click here to change the language and view all the pages in the selected language." backdrop="true" title="Language" order="0" tour-step="" href="" class="ng-scope">SP</a></span> -->
<!--               <span><a class="active" href=""  ng-click="changeLanguage('en');" class="active">&nbsp;EN</a></span>
              <span><a class="active" href=""  ng-click="changeLanguage('fr');" class="active">&nbsp;FR</a></span></li> -->
            </ul>


				<span class="floatRight">
					<span class="ux_banner_link_row_text_color">Welcome&nbsp;{{getUserID()}}</span>
					<span ng-show="hasProject" >
					<span  class="ux_banner_link_row_text"> | </span>
					<span  class="ux_banner_link_row_text_color">Project:</span>
					<span><a ui-sref="project" ng-click="selectProject()" title="PROJECT"  href="/project">{{currentProject.projectId}}</a></span>
					</span>
					<span  class="ux_banner_link_row_text"> | </span>
					<span  class="ux_banner_link_row_text"> | </span>
					<a  ng-click="logout()" class="ux_banner_link_row_text">Logout</a>
				</span>
			</div>  
		</div>

	<!-- Here UI Begins for product wizard -->	 
		    <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-primary   dropdown-toggle" data-toggle="dropdown"
                uib-dropdown-toggle>
                    File
                    <span class="caret">
                    </span>
                </button>
                <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                   <li role="menuitem"><a href="#">Import</a></li>
        <li role="menuitem"><a href="#">Export Rule</a></li>
        <li role="menuitem"><a href="#">Save</a></li>
        <li class="divider"></li>
                </ul>
                
            </div>
           <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-primary   dropdown-toggle" data-toggle="dropdown"
                uib-dropdown-toggle>
                    Edit
                    <span class="caret">
                    </span>
                </button>
                 <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                   <li role="menuitem"><a href="#">Tree</a></li>
                <li class="divider"></li>
                  <li role="menuitem"><a href="#">Table</a></li>
                </ul>
            </div>  
      
       <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-primary   dropdown-toggle" data-toggle="dropdown"
                uib-dropdown-toggle>
                    Wizard
                    <span class="caret">
                    </span>
                </button>
                 <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                   <li role="menuitem"><a href="#" data-toggle="dropdown">Company Rules
                   <b class="caret caret-right"></b>
                   </a>
					<ul class="dropdown-menu">

						<li><a href="#">Add new lines of business...</a></li>
						<li><a href="#">Add new fund...</a></li>
						<li><a href="#">Manage unregistered orphan subsets..</a></li>
						
					</ul>
					
					</li>
                  <li role="menuitem"><a href="#" data-toggle="dropdown">Plan Rules
                  <b class="caret caret-right"></b>
                  </a>
                  				<ul class="dropdown-menu">

						<li><a href="#">Accumulation Plans</a></li>
						<li><a href="#">Payout Plans</a></li>
						
					</ul>
                  </li>
                  
                  
                       <li role="menuitem"><a href="#">Rider/Benefit Rules
                       <b class="caret caret-right"></b>
                       </a>
                       <ul class="dropdown-menu">
                       <li><a href="#">Book Rider</a></li>
                       </ul>
                       </li>
                </ul>
            </div>  
            
                 <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-primary   dropdown-toggle" data-toggle="dropdown"
                uib-dropdown-toggle>
                    Administration
                    <span class="caret">
                    </span>
                </button>
                 <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                   <li role="menuitem"><a href="#">Create Company</a></li>
                  <li role="menuitem"><a href="#">Allowable values</a></li>
                       <li role="menuitem"><a href="#">Client Logging</a></li>
                </ul>
            </div>
            
 
            
              <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-primary   dropdown-toggle" data-toggle="dropdown"
                uib-dropdown-toggle>
                    Help
                    <span class="caret">
                    </span>
                </button>
                 <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                   <li role="menuitem"><a href="#">Index</a></li>
                  <li role="menuitem"><a href="#">About</a></li>
                </ul>
            </div>
       
       
 
 
 <ul class="tab">
<!--  onclick="openCity(event, 'Business Rules Search')" 
onclick="openCity(event, 'Entire Table')"
onclick="openCity(event, 'Changes only')"
onclick="openCity(event, 'Apply Changes')"
onclick="openCity(event, 'Audit\Error')"
onclick="openCity(event, 'Promote')"
onclick="openCity(event, 'Summary')"
onclick="openCity(event, 'Continuity check')"

href="javascript:void(0)"

-->
  <li><a  class="tablinks" href="#businessRules" id="brsID" ng-focus="tabfocus($event)">Business Rules Search</a></li>
  
  <li><a  class="tablinks"  href="#entireTable" ng-focus="tabfocus($event)"> Entire Table</a></li>
  <li><a  class="tablinks" >Changes only</a></li>
   <li><a  class="tablinks" >Apply Changes</a></li>
    <li><a  class="tablinks" >Audit\Error</a></li>
     <li><a  class="tablinks" >Promote</a></li>
      <li><a  class="tablinks" >Summary</a></li>
       <li><a  class="tablinks" >Continuity check</a></li>
</ul>


 <div ng-view></div>
         
 
  
      
  
    
    
    
      <div id="Changes only" class="tabcontent" >
      <h1> "Changes only" content not available !!</h1>
      </div>
         <div id="Apply Changes" class="tabcontent" >
       <h1> "Apply Changes" content not available !!</h1>
      </div>
         <div id="Audit\Error" class="tabcontent" >
       <h1> "Audit\Error" content not available !! </h1>
      </div>
        <div id="Promote" class="tabcontent" >
       <h1> "Promote" content not available !! </h1>
      </div>
         <div id="Summary" class="tabcontent" >
       <h1>"Summary" content not available !! </h1>
        </div>
        <div id="Continuity check" class="tabcontent" >
      <h1>  "Continuity Check" content not available !! </h1>
      </div>
      
      
    
</div>           
           
      
            
<span class="ux_copyright" style="margin-left: 20px"><i class="fa fa-copyright"></i>2017 Computer Sciences Corporation. All rights reserved.</span>



<script>


  $(document).ready(function() {
        $('.navbar-nav li').click(function() {
            $(this).parent().find('.active').removeClass('active');
            $(this).addClass('active');
        })
    })
    // added for tabs nikhil
    


window.onbeforeunload = check;
	function check()
	{
		if(window.sessionStorage['rememberMe']=="false"){
			 $.get('/cxf/authenticate/logout', function( data ) {	
				});		
		}
		 
	}	
</script>

<script src="js/lazyload.js"></script>
<script>
  $(document).ready(function(){
      $('.navbar-nav li').click(function(){
    	  $(this).parent().find('.active').removeClass('active');
    	  $(this).addClass('active');
      })
  })
</script>
</body>
</html>