<html>
<head>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script> 

	 <script src="bower_components/angular-translate/angular-translate.min.js"></script>
	 <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
	
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/optionA_theme/bootstrap-optionA.css">
    <link rel="stylesheet" href="css/app.css">
 

	 <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet"> 
       <link rel="stylesheet" href="bower_components/angular-ui-layout/src/ui-layout.css">

   

<link rel="stylesheet" href="bower_components/angular-tree-control/css/tree-control-attribute.css"> 
  <link rel="stylesheet" href="bower_components/angular-tree-control/css/tree-control.css"> 
  <script src="bower_components/angular-tree-control/angular-tree-control.js"></script>
    <link rel="stylesheet" href="css/custom/common.css">
   
    <script src="bower_components/jquery/dist/jquery.js"></script>

    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="bower_components/angular-ui-layout/src/ui-layout.js"></script>



    
    
    
    
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>

 


<script src="js/lazyload.js"></script>

<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	
	
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
	
	<script src="bower_components/ocLazyLoad/dist/ocLazyLoad.js"></script>
	<script src="bower_components/angular-spinner/angular-spinner.js"></script>
	<script src="bower_components/spin.js/spin.js"></script>
	
	<script src="js/config.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/service.js"></script>
		<script src="js/businessRulesSearchTab/businessRSController.js"></script>
	<script src="js/entireTableTab/entireTableController.js"></script>

	<link rel="stylesheet" href="css/custom/ux-theme.css">

    <script>
    $(document).ready(function() {
        $('.navbar-nav li').click(function() {
            $(this).parent().find('.active').removeClass('active');
            $(this).addClass('active');
        })
    })
    </script>
    <title>Product Wizard</title>
</head>
<!-- <div class="container-fluid containerStyle"   ng-controller="mainUXController" > -->
<body style="font-family: Arial, Helvetica,sans-serif !important;font-size: small !important;" id="progressdiv" ng-app="mainuxApp" >
<!-- from heree -->

   <div class="container-fluid containerStyle">
        <div class="row">
            <div class="col-md-6">
            
                <img id="logoWidth" border="0" src="img/product_wizard_latest.png" style="width: 100%;">
                <div class="textContainer" ng-controller="loginController">

                    <br>
                   <!--  <form role="form" name="loginForm" method="post" ng-submit="signIn(userId,password)" class="form-horizontal ng-pristine ng-valid"> -->
                   <form name="loginForm" ng-submit="login()" role="form" class="form-horizontal ng-pristine ng-valid ng-valid-maxlength ng-valid-required">
                        <div class="form-group" ng-class="{'has-error':loginForm.username.$invalid && !loginForm.username.$pristine}">
                            <label style="margin-right: inherit;" for="username" class="col-sm-4 "><b>User ID:</b></label>
                            <div class="col-sm-8 ">
                                <input autofocus ng-model="username" name="username" id="username" placeholder="Username" class="form-control" required ng-model="username" /><span class="help-block" ng-show="loginForm.username.$invalid  && !loginForm.username.$pristine">User Name is Required!</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':loginForm.password.$invalid && !loginForm.password.$pristine}">
                            <label style="margin-right: inherit;" for="password" class="col-sm-4 "><b>Password:</b></label>
                            <div class="col-sm-8 ">
                                <input ng-model="password" name="password" id="password" placeholder="Password" type="password" class="form-control" required ng-model="password" /><span class="help-block" ng-show="loginForm.password.$invalid  && !loginForm.password.$pristine">Password is Required!</span>
                            </div>
                        </div>
   
                        <div class="form-group">
                            <div class=" col-xs-10">
                                <p>
                                    <button type="submit" class="btn btn-primary" >Sign In</button> &nbsp;
                                 <!--    <a type="button" class="btn btn-primary" href="/logout.html">Cancel</a> -->
                                </p>
                            </div>
                        </div>
                    </form>
   
                    <div class="alert alert-danger alert-dismissible" role="alert"  ng-if='showAlert'>
                        <button type="button" class="close" style="position:inherit" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        The username or password entered is incorrect.
                    </div>
                    <p>
                        You have requested access to a site that requires authentication.
                    </p>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
     </div> 
     
  
 
</body>
</html>