<html>
<head>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script> 
	<!-- <script src="bower_components/angular-translate/angular-translate.js"></script>  -->
	 <script src="bower_components/angular-translate/angular-translate.min.js"></script>
	 <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
	
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/optionA_theme/bootstrap-optionA.css">
    <link rel="stylesheet" href="css/app.css">
   <!--  <link rel="stylesheet" href="css/multiLevelDropdown.css"> -->
   <!--  <link rel="stylesheet" href="css/jquery.loadmask.css"> -->
   <!--  <link rel="stylesheet" href="css/treeView.css">
    <link rel="stylesheet" href="css/tree-control.css">
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css"> -->
<!--     <link rel="stylesheet" href="swt_tree_directive/dist/swt_tree.css">
    <link rel="stylesheet" href="tree_mover_directive/dist/tree_mover_directive.css"> -->
    <!--  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">-->
     <!-- <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="plan\css\plan.css">
    <link rel="stylesheet" href="allowedValue\css\allowedValue.css">
    <link href="bower_components/angular-resizable/angular-resizable.min.css" rel="stylesheet"> -->
	 <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet"> 
       <link rel="stylesheet" href="bower_components/angular-ui-layout/src/ui-layout.css">

   
<!--     <link rel="stylesheet" href="bower_components/angular-tree-control/css/tree-control-attribute.css"> -->
<link rel="stylesheet" href="bower_components/angular-tree-control/css/tree-control-attribute.css"> 
  <link rel="stylesheet" href="bower_components/angular-tree-control/css/tree-control.css"> 
  <script src="bower_components/angular-tree-control/angular-tree-control.js"></script>
    <link rel="stylesheet" href="css/custom/common.css">
   
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!-- <script src="bower_components/angular/angular.min.js"></script> -->
    <!-- CCGBASE-1824 -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!--     <script src="bower_components/angular-cookies/angular-cookies.js"></script> -->
    <script src="bower_components/angular-ui-layout/src/ui-layout.js"></script>
<!--     <script src="bower_components/angular-file-upload/dist/angular-file-upload.js"></script>

    CCGBASE-1824
    <script src="bower_components/angular-tree-control/angular-tree-control.js"></script>
    <script src="bower_components/angular-localize/angular-localize.js"></script>
    <script src="bower_components/localize/lib/localize.js"></script>
    <script src="js/localize/localize.js"></script>
    <script src="bower_components/angular-cache/dist/angular-cache.min.js"></script>
    <script src="bower_components/angular-resizable/angular-resizable.min.js"></script>
    <script src="jquery.layout/dist/jquery.layout-latest.js"></script>
    <script src="bower_components/angular.treeview/angular.treeview.js"></script>
    <script src="swt_tree_directive/dist/swt_tree_directive.js"></script>
    <script src="tree_mover_directive/dist/tree_mover_directive.js"></script>
    <script src="tree_mover_directive/dist/tree_mover_template_directive.js"></script>
    <script src="required_directive/dist/required_directive.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="js/jquery.loadmask.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/angularjs-dropdown-multiselect/src/angularjs-dropdown-multiselect.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
    <script src="bower_components/ng-idle/angular-idle.min.js"></script>
     ccgbase 2251 for context menu
    <script src="bower_components/angular-bootstrap-contextmenu/contextMenu.js"></script>
    <script src="angular-ui-sortable/sortable.js"></script> -->
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <!-- <script src="bower_components/angular-animate/angular-animate.js"></script>-->
<!-- <script src="bower_components/angular-sanitize/angular-sanitize.js"></script> 
<link rel='stylesheet' href='css/ngPopup.css'>
<script type='text/javascript' src='css/ngPopup.js'></script>
 
    <script src="js/configuratorApp.js"></script> -->
 

<script src="js/require.js"></script>
<script src="js/lazyload.js"></script>

<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	
	
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
	
	<script src="bower_components/ocLazyLoad/dist/ocLazyLoad.js"></script>
	<script src="bower_components/angular-spinner/angular-spinner.js"></script>
	<script src="bower_components/spin.js/spin.js"></script>
	
	<script src="js/config.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/service.js"></script>
	<!-- <script src="js/require.js"></script>
	<script src="js/lazyload.js"></script> -->
	<link rel="stylesheet" href="css/custom/ux-theme.css">
    <!-- <script src="js\loginController.js"></script> -->
   <!--  <script src="bower_components\angular-route\angular-route.js"></script> -->
   <!--  <script src="bower_components\angular-ui-router\release\angular-ui-router.js"></script>
    <script src="js\colResizable-1.5.source.js"></script> -->
    <script>
    $(document).ready(function() {
        $('.navbar-nav li').click(function() {
            $(this).parent().find('.active').removeClass('active');
            $(this).addClass('active');
        })
    })
    </script>
    <title>Product Wizard</title>
</head>
<!-- <div class="container-fluid containerStyle"   ng-controller="mainUXController" > -->
<body style="font-family: Arial, Helvetica,sans-serif !important;font-size: small !important;" id="progressdiv" ng-app="mainuxApp" >
<!-- from heree -->
   <div class="container-fluid containerStyle">
        <div class="row">
            <div class="col-md-6">
            
                <img id="logoWidth" border="0" src="img/pw_home.png" style="width: 100%;">
                <div class="textContainer" ng-controller="loginController">

                    <br>
                   <!--  <form role="form" name="loginForm" method="post" ng-submit="signIn(userId,password)" class="form-horizontal ng-pristine ng-valid"> -->
                   <form name="loginForm" ng-submit="login()" role="form" class="form-horizontal ng-pristine ng-valid ng-valid-maxlength ng-valid-required">
                        <div class="form-group" ng-class="{'has-error':loginForm.username.$invalid && !loginForm.username.$pristine}">
                            <label style="margin-right: inherit;" for="username" class="col-sm-4 "><b>User ID:</b></label>
                            <div class="col-sm-8 ">
                                <input autofocus ng-model="username" name="username" id="username" placeholder="Username" class="form-control" required ng-model="username" /><span class="help-block" ng-show="loginForm.username.$invalid  && !loginForm.username.$pristine">User Name is Required!</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':loginForm.password.$invalid && !loginForm.password.$pristine}">
                            <label style="margin-right: inherit;" for="password" class="col-sm-4 "><b>Password:</b></label>
                            <div class="col-sm-8 ">
                                <input ng-model="password" name="password" id="password" placeholder="Password" type="password" class="form-control" required ng-model="password" /><span class="help-block" ng-show="loginForm.password.$invalid  && !loginForm.password.$pristine">Password is Required!</span>
                            </div>
                        </div>
                     <!--    <div class="form-group">
                            <div class="col-sm-10">
                                <input ng-model="rememberMe" type="checkbox" id="rememberMe" name="rememberMe" />
                                <label class="pStyle" for="remember_me">Keep me logged in</label>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <div class=" col-xs-10">
                                <p>
                                    <button type="submit" class="btn btn-primary" >Sign In</button> &nbsp;
                                    <a type="button" class="btn btn-primary" href="/logout.html">Cancel</a>
                                </p>
                            </div>
                        </div>
                    </form>
   
                    <div class="alert alert-danger alert-dismissible" role="alert"  ng-if='showAlert'>
                        <button type="button" class="close" style="position:inherit" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        The username or password entered is incorrect.
                    </div>
                    <p>
                        You have requested access to a site that requires authentication.
                    </p>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
     </div> 
     
     <!-- to here -->
</body>
<!-- Plan Template js start -->
<!-- <script src="plantemplate\js\directives.js"></script>
<script src="plantemplate\js\filters.js"></script> -->
<!-- <script src="plantemplate\js\services.js"></script> -->
<!-- <script src="plantemplate\js\controllers.js"></script>
<script src="plantemplate\js\primaryViewController.js"></script> -->
<!-- Plan Template js end -->
<!-- </div> -->
</html>