body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	cursor: default;
	z-index: 0;
	font: normal 1.0em;
}
form {
	padding: 0px;
	margin: 0px;
}

.ux_optionbar {
	height: 40px;
    padding: 5px 10px;
    position: relative;
    text-align: center;
}

.ux_relative-header {
	height: 88.5%;
	min-height: 3.125em;
	border-top-left-radius: 0.9em;
	border-top-right-radius: 0.9em;
	padding: 0.313em 0.625em;
	background-image: -moz-linear-gradient(90deg, #E3E3E3 0%, #F6F6F6 100%);
	/* For Mozilla/Gecko (Firefox etc) */
	background-image: -o-linear-gradient(90deg, #E3E3E3 0%, #F6F6F6 100%);
	/* For Opera */
	background-image: -webkit-linear-gradient(90deg, #E3E3E3 0%, #F6F6F6 100%);
	/* For Webkit /* Safari 5.1+, Mobile Safari, Chrome 10+ */
	/* Gradients specifications are browser specific so need to add for other browsers */
	/* Need a way to have gradient for IE8 and earlier as it's not supported in IE, need to check IE9 and later */
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#F6F6F6', endColorstr='#E3E3E3' ); /* for IE */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#F6F6F6',endColorstr='#E3E3E3')";
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(90deg, #E3E3E3 0%, #F6F6F6 100%);
}

.ux_systemlogo {
	height: 100%;
	max-height: 4.75em;
}

.ux_relative-banner-title-menu {
	/*EXJB-940 start*/
	/*font-size: 2.5em;*/
	font-size: 1.75em;
	/*EXJB-940 end*/
	font-weight: bold;
	text-align: left;
	text-shadow: #FFFFFF 0 1px 0;
	display: inline-block;
	line-height: 30px;
	margin-left: 0.5em;
	max-height: 4.75em;
}

.ux_relative-banner-title-menu-normal {
	float: left;
	color: #000000;
}

.ux_banner_background + .ux_relative-header .ux_banner_link_row_text {
	color: #FFFFFF;
}
.ux_copyright {
	font-size: 8pt;
	color: #FFFFFF;
	font-weight: normal;
	font-family: 'Arial';
	}
body.ui-layout-container {
	overflow: hidden;
}
.ux_relative-header-container {
	height: 9.358%;
	min-height: 3.751em;
	border-top-left-radius: 0.9em;
	border-top-right-radius: 0.9em;
	position: relative;
	z-index: 2;
}
.ux_banner_background + .ux_relative-header {
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.ux_banner_background + .ux_relative-header .ux_banner_link_row_text {
	color: #FFFFFF;
}
.ux_banner_background + .ux_relative-header .ux_relative-navigation-link a {
	color: #FFFFFF;
}
.ux_page_title {
	margin: 0 0 10px 0;
	/* display: inline-block; */
}

.ux_page_title_label {
	font-weight: bold;
	color: #000000;
	font-family: Arial;
  /*  font-size: 16px;*/
    font-size: 12px;
}
.panel {
	padding: 0px 2px 2px 2px;
	margin: 0px 0px 0px 0px;
	background: #e1effa;
}

.panel h4 {
	margin: 0px;
	padding: 0px;
	text-align: left;
	height: 23px;
	line-height: 23px;
	font-weight: bold;
	font-size: 14px;
	font-family:Arial;
	
}

.panel div.innerDiv {
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 0px 0px;
	border: 1px solid #7a7e80;
	margin: auto auto;
	background: #fff;
}
.ux_fieldset_1, .ux_fieldset_2{
	width: 100%;
	display: block;
	padding: 0px;
}
.ux_fieldset_group {
	display: block;
	border: 0;
	margin: 0px;
	overflow: hidden;
	padding: 5px 0px;
}
.ux_fieldset_group > span {
	display: inline-block;
	margin: 5px 0px;
}
.pe-blockui .ui-widget {
	top: 50%!important;
	left: 50%!important;	
	z-index: 99999!important;
}
#ux_body.ui-corner-all.ui-widget-content,#ux_footer.ui-corner-all.ui-widget-content.ui-layout-unit,#ux_footer.ui-widget-content {
	border-radius: 0 0 !important;
	border: 0 none red !important;
	background: none repeat scroll 0 0 transparent !important;
	bottom: 0 !important;
}
.ux_required_label {
	line-height: 16.7px;
}

.ux_required_asterisk {
	line-height: 10px;
	vertical-align: bottom;
}
button.ui-button.ux_page_button {
	clear: both;
	display: inline-block;
	cursor: pointer;
	margin: 0px;
	padding: 0 10px 0 10px;
	height: 1.5em;
	width: 6em;
}

button.ui-button.ux_page_button:lang(en),button.ui-button.ux_page_button:lang(fr) {
	width: 6em;
}

button.ui-button.ux_page_longer_button:lang(en),button.ui-button.ux_page_longer_button:lang(fr) {
	width: 8em;
}
.ui-layout-center .ui-widget-content,.ui-layout-east .ui-widget-content {
	background: none repeat scroll 0 0 transparent;
	/* !important;*/ /*Remove this for sidebar*/
}