<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

</body>
</html> -->


 <!-- Layout starts-->
<div class="container-fluid appContainer" >

<!-- <div ng-include src="'partials/viewVersionsModal.html'"></div> -->

<div class="ux_relative-header" style=" height: 9%;">
        <div>
			<img id="syslogo1" class="ux_systemlogo cscLogo" src="img/CSCLogo_125X82.png">
			<div class="ux_relative-banner-title-menu pa-title">
				<label class="ux_relative-banner-title-menu-normal" style="font-weight: bold; margin-top: 10%;
font-size: smaller !important;">Product Wizard</label></div>


 <ul class="nav navbar-nav navbar-right">
            <li class="language hidden-xs">
             <!--  <span><a placement="bottom" content="Click here to change the language and view all the pages in the selected language." backdrop="true" title="Language" order="0" tour-step="" href="" class="ng-scope">SP</a></span> -->
<!--               <span><a class="active" href=""  ng-click="changeLanguage('en');" class="active">&nbsp;EN</a></span>
              <span><a class="active" href=""  ng-click="changeLanguage('fr');" class="active">&nbsp;FR</a></span></li> -->
            </ul>


				<span class="floatRight">
					<span class="ux_banner_link_row_text_color">Welcome&nbsp;{{getUserID()}}</span>
					<span ng-show="hasProject" >
					<span  class="ux_banner_link_row_text"> | </span>
					<span  class="ux_banner_link_row_text_color">Project:</span>
					<span><a ui-sref="project" ng-click="selectProject()" title="PROJECT"  href="/project">{{currentProject.projectId}}</a></span>
					</span>
					<span  class="ux_banner_link_row_text"> | </span>
					<!-- <span ng-controller="aboutController"><a ng-click="showAbout()" class="ux_banner_link_row_text">About</a></span> -->
					<span  class="ux_banner_link_row_text"> | </span>
					<a ng-click="checkLogOut()"  class="ux_banner_link_row_text">Logout</a>
				</span>
			</div>  
		</div>
	<!-- <div class="container-fluid mainContainer">
		Side bar starts
      ===================================
		<div class="sidebar pa-sidebar" id="sidebar"  >
			<ul class="nav menuLabelr navColor" >
				<li class="leftMenuItem" ng-repeat="item in menus" > 
					<a id="{{item.heading +'_menu'}}" ui-sref="{{item.heading}}" ng-click="selectMenu(item)" title="{{item.heading}}" ng-if="item.menus === undefined" class="textColor menuLabelLeft"> 
					<span class="{{item.icon}}"></span> 
					<span class="fa fa-cubes fa-lg menuIconLabelLeft" ng-class="getClassFor('allowedValues')" ></span>
					<span class="menuLabelLeft2" ng-cloak>{{item.heading}}</span></a>
							
					<a id="{{item.heading +'_menu'}}" ui-sref="{{item.heading}}" ng-click="selectMenu(item);toggleChildMenu(item.heading.split(' ').join('')+'_child', item.heading.split(' ').join('')+'_anchor')" title="{{item.heading}}"  ng-if="item.menus !== undefined" class="textColor menuLabelLeft"> 
					<span class="{{item.icon}}" ></span>
					<span class="fa fa-cubes fa-lg menuIconLabelLeft" ng-class="getClassFor('allowedValues')" ></span>
					<span class="menuLabelLeft2" ng-cloak>{{item.heading}}</span>
					<span  id="{{item.heading.split(' ').join('')+'_anchor'}}" class="fa fa-caret-left submenuAnchor pa-submenu"></span>
					</a>
					
					<ul id="{{item.heading.split(' ').join('')+'_child'}}" class="nav" style="display: none" ng-if="item.menus !== undefined">
						<li ng-repeat="submenu in item.menus">
							<a id = "{{submenu+'_menu'}}" ui-sref="{{submenu.sref}}" ng-class="getClassForSubMenu(submenu)" title="{{submenu}}" ng-click="selectSubMenu(item,submenu)">
							<span class="{{submenu.icon}}"></span>
							<span class="menuLabelLeft2">{{submenu}}</span></a>
						</li>
						
					</ul>
				</li>				
			</ul>
		</div>Side bar Ends      ===================================
		<div class="container-fluid" ><div class="text-left container-fluid container-2"  id="contentDiv">	      		
				<div  ui-view style="margin-left: .5%;"/></div>
				 <ng-view></ng-view> 
		</div>
		</div>
		</div>
		 -->
	<!-- Here UI Begins for product wizard -->	 
		    <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-primary   dropdown-toggle" data-toggle="dropdown"
                uib-dropdown-toggle>
                    File
                    <span class="caret">
                    </span>
                </button>
                <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                   <li role="menuitem"><a href="#">Import</a></li>
        <li role="menuitem"><a href="#">Export Rule</a></li>
        <li role="menuitem"><a href="#">Save</a></li>
        <li class="divider"></li>
                </ul>
                
            </div>
           <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-primary   dropdown-toggle" data-toggle="dropdown"
                uib-dropdown-toggle>
                    Edit
                    <span class="caret">
                    </span>
                </button>
                 <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                   <li role="menuitem"><a href="#">Tree</a></li>
                <li class="divider"></li>
                  <li role="menuitem"><a href="#">Table</a></li>
                </ul>
            </div>  
      
       <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-primary   dropdown-toggle" data-toggle="dropdown"
                uib-dropdown-toggle>
                    Wizard
                    <span class="caret">
                    </span>
                </button>
                 <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                   <li role="menuitem"><a href="#" data-toggle="dropdown">Company Rules
                   <b class="caret caret-right"></b>
                   </a>
					<ul class="dropdown-menu">

						<li><a href="#">Add new lines of business...</a></li>
						<li><a href="#">Add new fund...</a></li>
						<li><a href="#">Manage unregistered orphan subsets..</a></li>
						
					</ul>
					
					</li>
                  <li role="menuitem"><a href="#" data-toggle="dropdown">Plan Rules
                  <b class="caret caret-right"></b>
                  </a>
                  				<ul class="dropdown-menu">

						<li><a href="#">Accumulation Plans</a></li>
						<li><a href="#">Payout Plans</a></li>
						
					</ul>
                  </li>
                  
                  
                       <li role="menuitem"><a href="#">Rider/Benefit Rules
                       <b class="caret caret-right"></b>
                       </a>
                       <ul class="dropdown-menu">
                       <li><a href="#">Book Rider</a></li>
                       </ul>
                       </li>
                </ul>
            </div>  
            
                 <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-primary   dropdown-toggle" data-toggle="dropdown"
                uib-dropdown-toggle>
                    Administration
                    <span class="caret">
                    </span>
                </button>
                 <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                   <li role="menuitem"><a href="#">Create Company</a></li>
                  <li role="menuitem"><a href="#">Allowable values</a></li>
                       <li role="menuitem"><a href="#">Client Logging</a></li>
                </ul>
            </div>
            
 
            
              <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-primary   dropdown-toggle" data-toggle="dropdown"
                uib-dropdown-toggle>
                    Help
                    <span class="caret">
                    </span>
                </button>
                 <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                   <li role="menuitem"><a href="#">Index</a></li>
                  <li role="menuitem"><a href="#">About</a></li>
                </ul>
            </div>
       
       
 
 
 <ul class="tab">
  <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Business Rules Search')" id="defaultOpen">Business Rules Search</a></li>
  <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Entire Table')">Entire Table</a></li>
  <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Changes only')">Changes only</a></li>
   <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Apply Changes')">Apply Changes</a></li>
    <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Audit\Error')">Audit\Error</a></li>
     <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Promote')">Promote</a></li>
      <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Summary')">Summary</a></li>
       <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Continuity check')">Continuity check</a></li>
</ul>
 
         <div id="Business Rules Search" class="tabcontent" >
           <table>
           <tr> <td>
            <select id="rulesSelector" ng-model="rulesSelector" style="width: 120px;margin: 10px;">
      <option value="rules with changes" >Rules with changes</option>
     <option value="rules" selected="selected">Rules</option>
      </select>
      </td></tr>
           </table>
           
           
             <table>
           <tr> <td>
            <select id="environmentSelector" ng-model="environmentSelector" style="width: 120px;margin: 10px;">
       <!-- option  value="Environment" selected="selected">Environment</option>  -->
     <option ng-repeat="environment in environments" value="{{environment.coreValue}}" >{{environment.displayValue }}</option>
      </select>
        </td></tr>
           </table>
      
          <table>
           <tr> <td>
          <select id="companySelector" ng-model="companySelector" style="width: 120px;margin: 10px;">
      <option name="Company" value="Company" selected="selected">Company</option>
     <option ng-repeat="company in companys" ng-value="{{company.coreValue}}" >{{company.displayValue }}</option>
      </select>
       </td></tr>
           </table>
           
             <table>
           <tr> <td>
          <select id="productSelector" ng-model="productSelector" style="width: 120px;margin: 10px;">
      <option name="Product" value="Product" selected="selected">Product</option>
     <option ng-repeat="product in products" ng-value="{{product.coreValue}}" >{{product.displayValue }}</option>
      </select>
       </td></tr>
           </table>
           
             <table>
           <tr> <td>
          <select id="issueCodeSelector" ng-model="issueCodeSelector" style="width: 120px;margin: 10px;">
      <option name="IssueCode" value="IssueCode" selected="selected">IssueCode</option>
     <option ng-repeat="issueCode in issueCodes" ng-value="{{issueCode.coreValue}}" >{{issueCode.displayValue }}</option>
      </select>
      </td></tr>
           </table>
      
             <table>
           <tr> <td>
             <select id="lineOfBusinessSelector" ng-model="lineOfBusinessSelector" style="width: 120px;margin: 10px;">
      <option name="LineOfBusiness" value="LineOfBusiness" selected="selected">LineOfBusiness</option>
     <option ng-repeat="lob in lobs" value="{{lob.coreValue}}" >{{lob.displayValue }}</option>
      </select>
         </td></tr>
           </table>
           
                 <table>
           <tr> <td>
         <select id="planeffectivedateSelector" ng-model="planeffectivedateSelector" style="width: 120px;margin: 10px;">
      <option name="PlanEffectiveDate" value="PlanEffectiveDate" selected="selected">PlanEffectiveDate</option>
     <option ng-repeat="ped in peds" value="{{ped.coreValue}}" >{{ped.displayValue }}</option>
      </select>
       </td></tr>
           </table>
           
                       <table>
           <tr> <td>
         <select id="projectSelector" ng-model="projectSelector" style="width: 120px;margin: 10px;">
      <option name="project" value="project" selected="selected">Project(s)</option>
     <option ng-repeat="Project in Projects" value="{{Project}}" >{{Project }}</option>
      </select>
       </td></tr>
           </table>
           
                        <table>
           <tr> <td>
            <div class="col-sm-10">
            <table>
                            <tr > <td>    <input ng-model="rememberMe" type="checkbox" id="rememberMe" name="rememberMe" /> </td>
                               <td style="display: inline;"> <label class="pStyle" style="margin-left: 5px" for="remember_me">Remember my selection</label> </td> </tr>
                               <tr >  <td></td> <td> <button type="submit" class="btn btn-primary" style="margin-left: 50px;padding: 2px;" > Go </button> </td></tr>
                           </table>
                            </div>
            </td></tr>
           </table>
           
        </div>
          
  
      
   <div id="Entire Table" class="tabcontent" >
       <h1>"Entire Table" content not available !! </h1>
    </div>
      <div id="Changes only" class="tabcontent" >
      <h1> "Changes only" content not available !!</h1>
      </div>
         <div id="Apply Changes" class="tabcontent" >
       <h1> "Apply Changes" content not available !!</h1>
      </div>
         <div id="Audit\Error" class="tabcontent" >
       <h1> "Audit\Error" content not available !! </h1>
      </div>
        <div id="Promote" class="tabcontent" >
       <h1> "Promote" content not available !! </h1>
      </div>
         <div id="Summary" class="tabcontent" >
       <h1>"Summary" content not available !! </h1>
        </div>
        <div id="Continuity check" class="tabcontent" >
      <h1>  "Continuity Check" content not available !! </h1>
      </div>
      
      
    
</div>           
           
      
            
<span class="ux_copyright"><i class="fa fa-copyright"></i>2017 Computer Sciences Corporation. All rights reserved.</span>
